.topic {
    width: 700px;
    margin: 1.5em 0;
    padding: 1em 3em;
    background-color: var(--bg-color);
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.block-lessons {
    display: flex;
    gap: 5em;
    row-gap: 1em;
    flex-wrap: wrap;
    padding: 1em 0;

    border-top: solid 2px var(--main-color);
}

@media screen and (max-width: 860px) {
    .topic {
        width: 70vw;
        margin: 1.5em 30px;
    }
}
