{% extends 'base.html' %}

{% block title %}
    Learn-Russian. Тест знаний
{% endblock %}

{% block content %}
    <h2 class="title title_page">Тест знаний</h2>
    <p class="text">
        Для того чтобы узнать свой уровень знаний и найти пробелы в знаниях, вы можете пройти наш тест знаний. Это не займет больше 10 минут.
        Старайтесь долго не думать и отвечайте как знайте. Так вы сможете максимально точно узнать свой уровень знаний и позднее подтянуть проблемные темы.
        <strong>У каждого вопроса есть только один правильный ответ</strong>
    </p>
    <div class="btns">
        <a href="{% url 'testing' %}" class="main-btn main-btn_center">Начать</a>
    </div>
{% endblock %}