{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/testing/css/test.css">
{% endblock %}

{% block title %}
    Learn-Russian. Тест знаний
{% endblock %}

{% block content %}
    {% for question in questions %}
        <div class="question" data-weight="{{ question.weight }}">
            <h2 class="title title_test">{{ question.question }}</h2>
            <form class="answer-options">
                {% for answer in question.answers.all %}
                    <div class="option">
                        <input
                            type="radio"
                            value="{{ answer.answer }}"
                            name="{{ question.question }}"
                            id="{{ answer.pk }}"
                            class="option__input answer"
                            data-correct="{{ answer.is_correct }}">
                        <label for="{{ answer.pk }}" class="option__label">{{ answer.answer }}</label>
                    </div>
                {% endfor %}
            </form>
        </div>
    {% endfor %}

    <div class="panel-test">
        <div class="btns">
            <button class="main-btn main-btn_center check-btn">Отправить</button>
        </div>

        <div class="result-test">
            <h2 class="title">Ваш результат:</h2>
            <p class="title">
                <span class="result-test__points current-points"></span>
                /
                <span class="result-test__points max-points"></span>
            </p>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/testing/js/test.js"></script>
{% endblock %}
