.question {
    margin-top: 2em;
}

.title_test {
    margin-bottom: 0.6em;
}

.answer-options {
    position: relative;
    display: flex;
    flex-direction: column;
}

.answer-options::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset -1px 0 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    top: 0;
    left: 0;
    pointer-events: none;
}

.option__input {
    display: none;
}

.option__label {
    display: block;
    padding: 0.5em 2em;
    transition: 200ms;
    cursor: pointer;
}

.option:nth-child(even) .option__label {
    background-color: var(--bg-color);
}

.option__label:hover {
    background-color: var(--accent-color) !important;
}

.question_lock .option__label:hover {
    background-color: inherit;
}

.option__input:checked + .option__label {
    background-color: var(--main-color) !important;
    color: white;
}

.option__input_correct + .option__label {
    background-color: rgb(107, 178, 0) !important;
    color: white;
}

.option__input_wrong + .option__label {
    background-color: rgb(236, 145, 145) !important;
}

.result-test {
    display: none;
    padding: 1em 2em;
    background-color: var(--bg-color);
    border-radius: 10px;
    text-align: center;
    margin-top: 2em;
}

.result-test_active {
    display: block;
}

.result-test__points {
    font-weight: bold;
}
