/* Переменные */
:root {
    --main-color: #780000;
    --add-main-color: #C1121F;
    --accent-color: #669BBC;
    --bg-color: #F9F9F9;
}

/* Шрифты */
@font-face {
    font-family: "Garamond";
    src: url("/static/fonts/Garamond.ttf");
}

@font-face {
    font-family: "Lorenzo";
    src: url("/static/fonts/Lorenzo.ttf");
}

/* Сброс стилей */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    font-family: "Lorenzo";
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

/* Типографика */
.logo {
    font-size: 30px;
    font-weight: bold;
    font-family: "Garamond";
}

.title {
    font-size: 20px;
    font-family: "Garamond";
}

.sub-title {
    font-size: 18px;
    font-family: "Garamond";
}

.title_page {
    margin-top: 20px;
    margin-bottom: 10px;
}

.title_accent {
    font-size: 16px;
    color: var(--main-color);
}

.link {
    font-family: 16px;
    font-family: "Lorenzo";
    color: var(--main-color);
    transition: 200ms;
    font-weight: bold;
}

.link:hover {
    color: var(--add-main-color);
}

.link:active {
    color: var(--accent-color);
}

.text {
    line-height: 150%;
    margin-bottom: 10px;
}

/* Шапка */
header {
    height: 60px;
    border-bottom: solid 3px var(--main-color);
    display: flex;
    align-items: center;
    padding: 0 30px;
    gap: 80px;
}

.top-panel {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu {
    display: flex;
    gap: 50px;
}

.top-menu__btn {
    transition: 200ms;
}

.top-menu__btn:hover {
    color: var(--add-main-color);
}

.top-menu__btn:active {
    color: var(--accent-color);
}

.auth {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Контент */
.wrap {
    display: flex;
    flex-grow: 1;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    flex-grow: 1;
    padding: 30px 0;
    max-width: 800px;
}

/* Боковая панель */
aside {
    min-width: 300px;
    background-color: var(--bg-color);
    padding: 1.5em 2em;
    box-shadow: inset -2px 0 4px rgba(0, 0, 0, 0.25);
}

.content-aside {
    margin-top: 1em;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
}

.content-aside__element {
    padding: 0.4em;
}

.content-aside__element_active {
    background-color: var(--main-color);
    color: white;
}

/* Подвал */
footer {
    height: 90px;
    width: 100%;
    border-top: solid 3px var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;

}

.bottom-menu {
    display: flex;
    gap: 30px;
}

/* Хлебная крошка */
.breadcrumb a {
    font-size: 16px;
    font-family: "Garamond";
    color: var(--add-main-color);
}

/* Кнопки и элементы управления */
.main-btn {
    padding: 1em 1.5em;
    background-color: var(--add-main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: 200ms;
}

.main-btn:hover {
    background-color: var(--main-color);
}

.main-btn:active {
    background-color: var(--accent-color);
}

.add-btn {
    padding: 0.5em 1em;
    border: 2px solid var(--add-main-color);
    border-radius: 10px;
    transition: 200ms;
}

.add-btn:hover {
    background-color: var(--add-main-color);
    color: white
}

.add-btn:active {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}

/* Разное */
.btns {
    display: flex;
    justify-content: center;
    padding: 3em;
}

.block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
