.detail-account {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 400px;
    margin-top: 2em;
    gap: 1em;
}

.line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line__value {
    font-weight: bold;
}

.account-control {
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
}
