<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/forms.css">
    <link rel="stylesheet" href="/static/css/media.css">
    {% block css %}{% endblock %}
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>
    <header>
        <img src="/static/img/menu.png" alt="menu" class="gamb-menu">

        <h1 class="logo">Learn-Russian</h1>

        <div class="top-panel">
            <nav class="top-menu">
                <a href="{% url 'index' %}" class="top-menu__btn title">Главная</a>
                <a href="{% url 'lessons_list' %}" class="top-menu__btn title">Содержание</a>
                <a href="{% url 'start_test' %}" class="top-menu__btn title">Тест знаний</a>
                <a href="{% url 'feedback' %}" class="top-menu__btn title">Обратная связь</a>
            </nav>
    
            <div class="auth">
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <a href="/admin" class="add-btn admin-btn">Панель админа</a>
                        <a href="/admin" class="ico-admin-btn">
                            <img src="/static/img/admin-panel.png" alt="admin">
                        </a>
                    {% endif %}

                    <a href="{% url 'account' user.pk %}" class="btn-account">
                        <img src="/static/img/user.png" alt="user" class="btn-account__img">
                    </a>
                {% else %}
                    <a href="{% url 'login' %}" class="link">Войти</a>
                    <a href="{% url 'registration' %}" class="link">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </header>
    
    <div class="wrap">
        {% block aside %}{% endblock %}

        <main>
            <div class="content">
                <div class="breadcrumb">
                    {% block breadcrumb %}{% endblock %}
                </div>

                {% block content %}{% endblock %}
            </div>

            <footer>
                <p class="copyright">Все права защищены</p>
        
                <nav class="bottom-menu">
                    <a href="{% url 'feedback' %}" class="bottom-menu__btn link">Обратная связь</a>
                    <a href="{% url 'about' %}" class="bottom-menu__btn link">О проекте</a>
                </nav>
            </footer>
        </main>
    </div>
    
    <script src="/static/js/media.js"></script>
    {% block js %}{% endblock %}
</body>
</html>