{% extends 'base.html' %}

{% block title %}
    Learn-Russian. Главная
{% endblock %}

{% block breadcrumb %}
    <a href="{% url 'index' %}">/ Главная</a>
{% endblock %}

{% block content %}
    <h2 class="title title_page">Главная</h2>
    <p class="text">
        Пособие послужит незаменимым помощником при изучении русского языка.
        Самые необходимые правила изложены кратко и
        наглядно. Вся информация представлена в чётких и
        простых, удобных для запоминания схемах и таблицах. Доступность изложения материала значительно
        облегчает понимание и способствует качеству и быстроте усвоения.
        Правила иллюстрирует большое количество примеров, что делает обучение более увлекательным и расширяет словарный запас.
        Помимо правил в пособии содержатся интересные
        и полезные приложения, которые помогут при столкновении с трудными случаями написания и произношения: Куда ударять будем, Словарные слова, Словарь аббревиатур и др.
        Пособие адресовано учащимся средней школы, а
        также будет полезно всем, кто хочет освежить свои
        знания
    </p>

    <p class="text">
        Загляните в содержание, чтобы ознакомится с уроками. Вы можете найти так и что-то конкретное, так и начать изучать правила последовательно.
        Также вы можете проверить свои знания, с помощью нашего небольшого теста, включающего в себя основные правила и исключения.
        Будем очень рады, если вы оставите обратную связь, чтобы мы моглу учесть все ошибки и недочеты, сделав это пособие еще лучше
    </p>
{% endblock %}
